@media (max-width: 1200px) {
  .header {
    height: 60px;
    &__btn {
      margin-left: 15px;
      margin-top: 15px;
    }

    &__link {
     grid-template-columns: repeat(2, 450px);
     justify-items: start;
  }
}
.main {
  &__menu {
    justify-content: flex-start;
    padding-left: 15px;
  }
  &__wrapper {
    justify-content: center;
  }
  &__video {
    padding-left: 50px;
    iframe {
    width: 650px;
    height: 400px;
    }
  }
 }
.working {
  &__wrapper {
    padding-top: 20px;
    display: grid;
    grid-template: repeat(2, 122px) / repeat(4, 250px);
    column-gap: 50px;
    row-gap: 25px;
  }
}
}

@media (max-width: 992px) {
  .header {
    &__link {
     grid-template-columns: repeat(2, 350px);
  }
 }
 .main {
   &__menu {
     justify-content: flex-start;
     padding-left: 15px;
   }
   &__wrapper {
     justify-content: center;
   }
   &__video {
     padding-left: 50px;
     iframe {
     width: 500px;
     height: 400px;
     }
   }
 }
 .calculation {
   &__shipment {
     flex-wrap: wrap;
   }
   &__sizes {
    padding: 13px 100px 49px 100px;
   }
   &__btn {
     top: 500px;
   }
 }
 .reason {
   &__wrapper {
     grid-template-columns: 420px 420px;
   }
   .left-main{
    ::before {
      content: "";
      width: 1px;
      height: 440px;
      border: 1px dashed #c1c4c7;
      position: absolute;
      top: -200%;
      left: 0%;
    }
  }
 }
 .managers {
   &__wrapper {
     grid-template-columns: repeat(2, 450px);
   }
 }
 .working {
  &__wrapper {
    padding-top: 20px;
    display: grid;
    grid-template: repeat(3, 122px) / repeat(3, 250px);
    column-gap: 50px;
    row-gap: 25px;
    justify-content: center;
  }
}
}

@media (max-width: 768px) {
  .header {
    &__link {
      margin-left: 15px;
     grid-template-columns: repeat(2, 280px);
     column-gap: 15px;
     &-item {
      grid-template-columns: repeat(2, 280px);
     }
  }
 }
  .main {
    &__menu {
       img {
        width: 21%;
        height: 21%;
      }
      &-list {
        a {
          margin-left: 21px;
          font-size: 14px;
        }
      }
    }
    &__title h1 {
      font-size: 36px;
    }
    &__wrapper {
      justify-content: center;
    }
    &__video {
      display: none;
    }
  }
  .perk {
    height: 100%;
    &__wrapper {
      flex-direction: column;
    }
  }
  .calculation {
    &__sizes {
     padding: 13px 50px 49px 50px;
     input {
      height: 31px;
      border: 1px solid #c1c4c7;
      background-color: #ffffff;
    }
    #size {
      width: 51px;
    }
    #mass {
      width: 77px;
    }
    }
    &__btn {
      top: 480px;
    }
  }

  .delivery {
    height: 1200px;
    &__form {
      flex-wrap: wrap;
      &-item {
        margin-bottom: 20px;
      }
    }
  }
  .reason {
    .left-main{
      ::before {
        display: none;
      }
    }
    .left, .right {
     text-align: center;
      span {
        display: none;
      }
    }
    &__ghost {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 600px;
    }
  }
  .system {
    &__form {
      flex-wrap: wrap;
      &-item {
        margin-bottom: 15px;
      }
    }
  }
  .managers {
    &__wrapper {
      grid-template-columns: repeat(2, 370px);
      column-gap: 10px;
    }
  }
  .working {
    &__wrapper {
      grid-template: repeat(3, 122px) / repeat(3, 200px);
      column-gap: 15px;
    }
  }

}

@media (max-width: 576px) {
  .header {
    height: 110px;
  &__btn {
    display: none;
  }
    &__link {
      margin-left: 15px;
     grid-template-columns: repeat(1, 300px);
  }
 }
 .main {
  &__menu {
    display: block;
    margin: 0 auto;
    img {
     display: none;
    }
    &-list {
      display: block;
      text-align: center;
      a {
        margin-left: 21px;
        font-size: 16px;
      }
    }
  }
  &__title h1 {
    font-size: 25px;
    }
  }
  .calculation {
    padding-top: 10px;
    &__icon {
      display: none;
    }
    &__wrapper {
      margin-top: 20px;
    }
    &__shipment {
      padding-top: 15px;
    }
    &__sizes {
     display: grid;
     justify-content: center;
     align-items: center;
    }
    &__btn {
      top: 560px;
    }
  }
  .delivery {
    height: 1720px;
    &__form {
      flex-wrap: wrap;
      &-item {
        margin-bottom: 20px;
      }
    }
  }
  .reason {
    &__wrapper {
      grid-template-columns: 500px;
    }
  }
  .managers {
    &__wrapper {
      grid-template-columns: 350px;
      grid-auto-rows: minmax(250px,auto);
      justify-content: end;
    }
  }
  .working {
    &__wrapper {
      grid-template: repeat(4, 122px) / repeat(2, 200px);
    }
  }
}
