@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/buttons';
@import 'blocks/perk';
@import 'blocks/calculation';
@import 'blocks/delivery';
@import 'blocks/agency';
@import 'blocks/reason';
@import 'blocks/feedback';
@import 'blocks/system';

@import 'base/media';
