.agency {
  height: 342px;
  background: url(../img/wall_bg.jpg) center no-repeat;
  &__info {
    padding-top: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 25px;
    }
  }
  &__title {
    padding-top: 21px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }
  &__descr {
    padding-top: 19px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
  }
}
.manager {
  background: url(../img/city_bg.jpg) center no-repeat;
}

.personal_manager {
  background: url(../img/team/team_bg.jpg) center no-repeat;
}

.china {
  background: url(../img/china_bg.jpg) center no-repeat;
}
