.header {
  height: 45px;
  background-color: #25333c;
  &__wrapper {
    display: flex;
  }
  &__btn {
    margin-top: 7px;
    width: 104px;
    height: 29px;
    border: 1px solid #d3d6d8;
    background: transparent;
    color: #d3d6d8;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 4px;
    &:hover {
      color: $main-color;
      text-decoration: none;
      border: 1px solid $main-color;
    }
  }
  &__link {
    display: grid;
    grid-template-columns: 290px 230px 140px 190px;
    column-gap: 45px;
    align-items: center;
    justify-items: end;
    margin-top: 9px;
    margin-left: 50px;
    a {
      color: #d3d6d8;
      font-size: 14px;
      font-weight: 400;
      img {
        margin-right: 8px;
      }
      &:hover {
        color: $main-color;
        text-decoration: none;
      }
    }
  }
}
