.perk {
  height: 233px;
  background-color: #f3f3f3;
   &__wrapper {
    padding-top: 33px;
    display: flex;
    justify-content: space-around;

  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 56px;
    height: 56px;
  }
  &__title {
    padding-top: 15px;
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
  }
  &__descr{
    padding-top: 15px;
    color: #3a3a3a;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }

}
