.working {
  padding-top: 47px;
  &__title {
    color: #3a3a3a;
    font-size: 30px;
    text-align: center;
  }
  &__wrapper {
    padding-top: 20px;
    display: grid;
    grid-template: repeat(2, 122px) / repeat(4, 270px);
    column-gap: 50px;
    row-gap: 25px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      color: #e93b3b;
      font-size: 16px;
      font-weight: 700;
    }
    &-descr {
      padding-top: 5px;
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 300;
      line-height: 19px;
      text-align: center;
    }
  }
  &__result {
    border: 1px solid #3a3a3a;
    padding-top: 44px;
    padding-bottom: 45px;
    margin: 45px 58px 46px 58px;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
  }
}
